<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">
      <h1>Awesome University Registrar App</h1>

      {% include '/includes/message.html.twig'%}

      <h2>Student: {{ student.getName }}</h2>
      <!-- <a href="/course/{{ course.getId }}/delete" class="btn btn-info" role="button">Delete Student</a> -->

      <p>{{ student.getName }} is enrolled in the following courses:</p>
      {% if courses is not empty %}
        <ul>
          {% for course in courses %}
            <li>
              {{ course.getSubject }}
              <!-- <a href="/student/{{ student.getId }}/edit">Edit</a> -->
              <!-- <a href="/student/{{ student.getId }}/{{ course.getId }}/delete">Delete</a> -->
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>There are no current courses</p>
      {% endif %}


      <h2>Add a Course:</h2>
      <form action='/course/{{ course.getId }}/addStudent' method='post'>
        <div class="form-group">
          <label for='course-subject'>Course Name</label>
          <input name='course-subject' type='text' class='form-control'>
        </div>
        <button type='submit' class='btn btn-success'>Submit</button>
      </form>

      <!-- <h2>Delete Student:</h2>
      <form action='/course/{{ course.getId }}/deleteAllStudents' method='post'>
        <input name="_method" type="hidden" value="delete">
        <button type='submit' class='btn btn-danger'>Delete All!</button>
      </form> -->

      <br>
      <br>
      <br>

      <a href="/"><button type="submit" class="btn btn-warning" name="button">Home</button></a>


    </div>
  </body>
</html>
